<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Profile</title>

  <!-- Stylesheets-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link href="/css/styles-profile.css" rel="stylesheet">
  <link href="/css/styles-header.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<body>
  <%- include('header'); %>
  <div class="register">

    

    
    <form action="/profile" method="post">
        <div class="row">
            <div class="col col-12 col-md-3">
                <label for="fname"><h5>First Name:</h5></label>
            </div>
            <div class="col col-12 col-md-9">
                <input type="text" id="fname" class="form-control" value="<%= fname %>" name="fname">
            </div>
        </div>

      <div class="row">
        <div class="col col-12 col-md-3">
          <label for="lname"><h5>Last Name:</h5></label>
        </div>
        <div class="col col-12 col-md-9">
          <input type="text" class="form-control" value="<%= lname %>" name="lname">
        </div>
      </div>

      <div class="row">
        <div class="col col-12 col-md-3">
          <label for="dob"><h5>Date Of Birth:</h5></label>
        </div>
        <div class="col col-12 col-md-9">
          <input type="date" id="dob" class="form-control" value="<%= dob %>" name="dob">
        </div>
        
      </div>

      <div class="row">
        <div class="col col-12 col-md-3">
          <label for="class"><h5>Class:</h5></label>
        </div>
        <div class="col col-12 col-md-9">
          <select class="form-control form-control-md" name="class">
            <option selected hidden><%= _class %></option>
            <option>LKG</option>
            <option>HKG</option>
            <option>I</option>
            <option>II</option>
            <option>III</option>
            <option>IV</option>
            <option>V</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col col-12 col-md-3">
          <label for="email"><h5>Email:</h5></label>
        </div>
        <div class="col col-12 col-md-9">
          <input type="email" id="email" class="form-control" placeholder="<%= username %>" name="username" required="true" disabled>
        </div>
        
      </div>

      <div class="row">
        <div class="col col-12 col-md-3">
          <label for="email"><h5>Password:</h5></label>
        </div>
        <div class="col col-12 col-md-9">
          <a href="/changePassword"><h5>Click here to change password</h5></a>
        </div>
        
      </div>

      <center>
        <button type="button submit" id="sub-btn" class="btn btn-lg btn-secondary">Save Changes</button>
      </center>

    </form>
  </div>

  <%- include('footer'); %>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>

        const heading=document.getElementById("heading");
        heading.innerText="Profile";
        const image=document.getElementById("image");
        image.src="https://cdn1.iconfinder.com/data/icons/web-mobile-ui-interface/90/user-01-512.png";

        

    '<% if(typeof success != "undefined"){ %>'
      alert("Password changed successfully!");
    '<% } %>'
    
  </script>
</body>

</html>