<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link href="/css/styles-header.css" rel="stylesheet">
    <link href="/css/styles-task-performance.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <title>Performance Records</title>
</head>
<body>

    <center>

        <%- include('header'); %>
    
        <div id="sentencelist"> 
    
            
            
            <% var i=1; %>
            <% for(var i=1;i<=sentencelist.length;i++){ %>

                
                    <div id="sent<%= i %>" class="tab-reg" >
                        <div class="sent-head">
                            <h3>Sentence <%= i %></h3>
                        </div>
                        
                        <br>

                        <h5 id="text<%= i %>"></h5>
                        <br>
                        
                        <h5 id="full<%= i %>">Sentence written:</h5>
                        <br>
                        
        
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Last Word No.</th>
                                        <th>Text displayed</th>
                                        <th>Time taken(sec)</th>
                                    </tr>
                                </thead>
                                <tbody id="tab<%= i %>">
            
                                </tbody>
                            </table>
        
                        
                    
                        <br>
        
                        
                    </div>

                <br>
                <br>
    
            <% } %>
            
        </div>
        
    
        

    </center>
    
    
    <%- include('footer'); %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

    <script>


        const heading=document.getElementById("heading");
        heading.innerText="Performance : Task "+(parseInt('<%-taskid%>')+1);
        const image=document.getElementById("image");
        image.src="https://www.clipartmax.com/png/middle/38-382679_logo-general-content-dez-sem1-performance-icon-blue.png";
        const sentencelist=JSON.parse('<%-JSON.stringify(sentencelist)%>');
        //console.log(sentencelist);
        
        for(var i=0;i<sentencelist.length;i++)
        {
            var sent="";
            for(var j=1;j<sentencelist[i].words.length;j++)
            {
                const tab=document.getElementById("tab"+(i+1));
                sent+=" "+sentencelist[i].words[j].word;

                tab.innerHTML+="<tr><td>"+j+"</td><td>"+sent+"</td><td>"+sentencelist[i].words[j].timeTaken+"</td></tr>";

                
            }

            const full=document.getElementById("full"+(i+1));
            full.innerText="Sentence written : "+sentencelist[i].inputSentence;
            sent=sent.substr(1);
            const text=document.getElementById("text"+(i+1));
            text.innerText="Original sentence : "+sent;
        }

    </script>
   
</body>
</html>
